pkgbase = ros-noetic-rqt-action
	pkgdesc = ROS - rqt_action provides a feature to introspect all available ROS action (from actionlib) types.
	pkgver = 0.4.9
	pkgrel = 3
	url = https://wiki.ros.org/rqt_action
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-catkin
	depends = ros-noetic-rqt-msg
	depends = ros-noetic-rqt-py-common
	depends = ros-noetic-rospy
	source = ros-noetic-rqt-action-0.4.9.tar.gz::https://github.com/ros-visualization/rqt_action/archive/fd461f410be6d7ef6beb5743251f0b4beba940e9.tar.gz
	sha256sums = 529ee4576ac4acb89b83b8356a79e031cb30132807c6ea83a7a37140a580ed3d

pkgname = ros-noetic-rqt-action
